#kga{
    color: blue; font-weight: bold; 
    
    }


.osa{
    font-size: 18px; font-weight: bold;
}

#img{
    border-radius: 50%; width: 280px; height: 200px;
}

.oxa{
    font-weight: bold; color: darkblue; font-size: 18px;
}
    
